<h1>Elementos de citação</h1>
<br>
<p>Estamos aparendendo <abbr title="Hyper text markup language">HTML</abbr></p>

<div>
    <hr>
    <h1>Trabalhando com Links absoluto</h1>
    <label>Link para <a href="https://www.google.com/">Google</a></label>
    <hr>

    <hr>
    <h1>Abrir link em uma nova aba</h1>
    <label>Link para <a href="https://www.google.com/" target="_blank">Google</a></label>
    <hr>
</div>
<div>
    <hr>
    <h1>Trabalhando com link Relativo</h1>
    <label>Link para uma arquivo dentro do projeto</label>
    <label>Ir para <a href="~/Cliente">Cliente</a></label>
    <hr>
</div>