<div>
    <h1 style="text-align: center;">Estudando HTML</h1>
    <hr>
</div>
<div>
    <h3>Elementos de citação</h3>
    <br>
    <p>Estamos aparendendo <abbr title="Hyper text markup language">HTML</abbr></p>
</div>
<div>
    <hr>
    <h3>Trabalhando com Links absoluto</h3>
    <label>Link para <a href="https://www.google.com/">Google</a></label>
    <hr>
    <h3>Abrir link em uma nova aba</h3>
    <label>Link para <a href="https://www.google.com/" target="_blank">Google</a></label>
    <hr>
</div>
<div>
    <h3>Trabalhando com link Relativo</h3>
    <label>Link's para arquivos dentro do projeto:</label>
    </br>
    <label>Ir para <a href="~/Cliente">Cliente</a></label>
    <br>
    <label>Ir Home <a href="~/Home">Home</a></label>
    <hr>
</div>
<div>
    <h3>Trabalhando com imagens</h3>
    <label>Link para ir para aba de <a href="/Imagens">Imagens</a></label>
    @* <label>Link para ir para aba de <a href="@Url.Action("Imagens","Imagens")">Imagens</a></label> *@
</div>