@model Projeto_Estudo_dotnet.Models.model.Cliente
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dados de Cliente</h1>
    <p>Id Cliente: @Model.ID</p>
    <p>Nome Cliente: @Model.nomePessoa</p>
    <p>Contato Cliente: @Model.ContatoEmail</p>
</div>
<div>
    <label>Voltar para aba <a href="~/Estudo">Estudo</a></label>
</div>